/* @theme ctheme */

@import "gaia";

section.more-space {
  padding: 15px 30px !important;
}

video[autoplay] {
  width: 90%;
  aspect-ratio: 16 / 8;
  margin-top: 1rem;
}

section.centered {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

section.img-centered img {
  display: flex;
  margin: 0 auto;
}
